* {
  
 
  font-family: Arial, sans-serif;
}

body {
  background: #02071B;
  color: white;
  overflow-x: hidden !important;
}
.pt-5, .pb-5 {
    padding-top: 5rem !important;
}
section {
  height: 100vh;
  
}
/* ESTADO INICIAL */
.scroll-item {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ENTRA */
.scroll-item.show {
  opacity: 1;
  transform: translateY(0);
}

/* SAI */
.scroll-item.hide {
  opacity: 0;
  transform: translateY(-80px);
}

/* DELAYS */
.delay {
  transition-delay: 0.15s;
}

.delay2 {
  transition-delay: 0.3s;
}





section#hero {
    height: 100vh;
}
.col.hero-text.pt-5.pb-5 img {
    z-index: 10;
    position: relative;
    display: flex;
    width: 85% ;
    left: 0px;
    top: 0px;
    animation-name: myAnimationherotext;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes myAnimationherotext {
    0% {right:-500px; top:0px;}
  100% {right: 0px; top: 0px;}
}
.col.hero-img {
    width: 85%;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 15;
    bottom: 0px;
    animation-name: myAnimationheroperfil;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes myAnimationheroperfil {
    0% {bottom:-500px; top:0px;}
  100% {bottom: 0px; top: 0px;}
}

.col-md-3.hero-title {
    /* bottom: -200px; */
    display: flex;
    position: absolute;
    /* align-items: center; */
    animation-name: herotitle;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes herotitle {
    0% {left:-500px; }
  100% {left: 0px; }
}

span.elem-retet img {
    position: absolute;
    top: 0px;
    z-index: 0;
    left: 0px;
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes myAnimation {
    0% {left:-500px; top:0px;}
  100% {left: 0px; top: 0px;}
}


span.elem-retet2 img {
    position: absolute;
    top: 0px;
    right: 0px;
    animation-name: myAnimation2;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes myAnimation2 {
    0% {right:-500px; top:0px;}
  100% {right: 0px; top: 0px;}
}


span.elem-retet3 img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    animation-name: myAnimation3;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes myAnimation3 {
    0% {right:-500px; top:0px;}
  100% {right: 0px; bottom: 0px;}
}

/* comp */
.competencia-img.pt-5 img {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
}



/* sobr */
section#sobre{
    height: 100vh;
}
.col.sobre-text {
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 20;
}
section#sobre .sobre-img img {
    bottom: 0px;
    display: flex;
    position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 525px) {
    
     span.elem-retet img {
        position: absolute;
        z-index: 0;
        left: -70px;
        top: -65px;
        display: none;
    }
span.elem-retet2 img {
        width: 150px;
        right: 0px;
    }
span.elem-retet3 img {
    width: 150px;
    right: 0px;
}
    
     .col.hero-img img {
        /* width: unset; */
        /* justify-content: center; */
        /* display: flex; */
        position: absolute;
        z-index: 2;
        bottom: 0px;
        /* left: 70px; */
        /* right: 0px; */
    }

.col.hero-text.pt-5.pb-5 img {
    z-index: 10;
    position: relative;
    display: flex;
    left: 0px;
    width: 100%;
}
.col.hero-text.pt-5.pb-5 {
    position: absolute;
    width: 70%;
    bottom: 210px;
}

.col-md-3.hero-title {
        bottom: 70px;
        display: flex;
        position: absolute;
        align-items: center;
        z-index: 22;
        width: 90%;
    }


    .col.sobre-img img {
    display: flex;
    position: absolute;
    z-index: 10;
    width: -webkit-fill-available;
    order: 1;
}

.col.sobre-text {
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 20;
    order: 2;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 668px) {
    section#hero {
    overflow: hidden;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    span.elem-retet img {
    width: 150px;
}
span.elem-retet2 img {
    width: 150px;
}
span.elem-retet3 img {
    width: 150px;
}
.col.hero-img img {
        width: 75%;
        justify-content: center;
        display: flex;
        position: absolute;
        z-index: 15;
        bottom: 0px;
        left: 50px;
    }

.col.hero-text.pt-5.pb-5 img {
        z-index: 10;
        position: relative;
        display: flex;
        width: 37%;
        left: 0px;
        top: 0px;
    }
    .col-md-3.hero-title {
    top: 50px;
    width: 30%;
    display: flex;
    position: relative;
    align-items: center;
    animation-name: herotitle;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

    h3.hero {
    font-size: 1.1rem;
}

/* sobr */
.col.sobre-text {
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 20;
    width: 50%;
    position: absolute;
}
section#sobre .sobre-img img {
    bottom: 0px;
    display: flex;
    position: relative;
    width: 375px;
    left: 370px;
}




}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1024px) {
    .col.hero-img {
    width: 65%;
    left: 232px;
}
span.elem-retet img {
    position: absolute;
    top: 0px;
    z-index: 0;
    left: 0px;
    width: 210px;
}
    .col.hero-text.pt-5.pb-5 img {
        z-index: 10;
        position: relative;
        display: flex;
        width: 50%;
        left: 0px;
        top: 0px;
    }
.col.hero-img img {
        width: 85%;
        justify-content: center;
        display: flex;
        position: absolute;
        z-index: 15;
        bottom: 0px;
        left: 50px;
    }
.col-md-3.hero-title {
    /* bottom: -200px; */
    display: flex;
    position: relative;
    align-items: center;
    left: 40px;
}

h3.hero {
    font-size: 1.2rem;
}


/* sobre */
.col.sobre-img img {
    display: flex;
    width: 600px;
    position: relative;
    z-index: 17;
}
.col.sobre-text {
    position: relative;
    display: flex;
    z-index: 18;
    /* max-width: 100%; */
}
section#sobre .sobre-img img {
        bottom: 0px;
        display: flex;
        position: relative;
        width: 100%;
        left: 0px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1440px) {
       .col.hero-img img {
        width: 90%;
        left: 100px;
    }
    .col.hero-text.pt-5.pb-5 {
    z-index: 10;
    position: relative;
    display: flex;
    width: 100%;
    /* left: 40px; */
    top: 30px;
}
    .col.hero-text.pt-5.pb-5 img {
        width: 45%;
    }

.col-md-3.hero-title {
        /* bottom: -200px; */
        display: flex;
        position: relative;
        align-items: center;
        left: 15px;
        z-index: 16;
    }

   
span.elem-retet img {
    width: 307px;
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
#conhecimento .elem-retet{
    background-image: url(img/elemento-retet.png);
}
span.elem-retet2 img {
    width: 307px;
    animation-name: myAnimation2;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

span.elem-retet3 img {
    width: 307px;
    animation-name: myAnimation3;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

h3.hero {
    font-size: 1.8rem;
}


section#sobre .sobre-img img {
        bottom: 0px;
        display: flex;
        position: relative;
        width: 100%;
        left: 0px;
    }



.competencias h1 .text-center .scroll-item .delay .show strong {
    font-size: 3rem;
}



    
}